<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MONEYFLEX</title>
<link href="../css/defult.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
  <div class="hedaer_box">
  		<!-- 헤더 시작 -->
        <div id="header">
            <h1><a href="../index.html"><img src="../images/logo.jpg" alt="머니플렉스 로고" title="머니플렉스 로고"></a></h1>
            <div class="nav">
            	<div class="util_menu">
                    <ul>
                    	<li><a href="mypage.html">MYPAGE</a></li>
                        <li><a href="login.html">LOGIN</a></li>
                        <li><a href="join_01.html">JOIN</a></li>  
                    </ul>
                </div>
                <div class="gnb">
                    <ul>
                    	<li><a href="../index.html#section_06">CONTACT</a></li>
                        <li><a href="../index.html#section_05">SOCIAL</a></li>
                        <li><a href="../index.html#section_04">SCHEDULE</a></li>
                        <li><a href="../index.html#section_03">NEWS</a></li>
                        <li><a href="../index.html#section_02">HISTORY</a></li>
                        <li><a href="../index.html#section_01">ABOUT</a></li>               
                    </ul>
                </div>
            </div>
        </div>
        <!-- 헤더 끝 -->
    </div>
    <section>
   		<!-- 회원가입 섹션 시작 -->
    	<div class="sub_container">
        	<p class="sub_navi">HOME > <span class="navi_color">JOIN</span></p>
            <p class="sub_hdtitle">회원가입</p>
            <div class="join_box">
                <p>기본정보(필수입력사항)</p>
                <dl>
                    <dt>이름</dt>
                    <dd class="form01"><input name="이름" type="text" class="text_box02"></dd>          
                </dl>
                <dl>
                    <dt>아이디</dt>
                    <dd class="form02"><input name="아이디" type="text" class="text_box02"></dd>
                    <dd class="btn"><img src="../images/btn_idcheck.gif" alt="중복확인" title="중복확인"></dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd class="form01"><input name="비밀번호" type="password" class="text_box02"> <span style="padding-left:5px;">* 6~12자의 영문과 숫자의 조합</span></dd>
                </dl>
                <dl>
                    <dt>비밀번호 확인</dt>
                    <dd class="form01"><input name="비밀번호 확인" type="password" class="text_box02"> <span style="padding-left:5px;">* 위의 비밀번호를 한번 더 입력해주세요.</span></dd>
                </dl>
                <dl>
                    <dt>생년월일</dt>
                    <dd class="form03"><input name="생년월일1" type="text" class="text_box03"> - <input name="생년월일2" type="text" class="text_box03"> - <input name="생년월일3" type="text" class="text_box03"> </dd>
                    <dd class="radio"><input name="생년월일" type="radio" value="생년월일" id="생년월일" class="radio_box01"></dd>
                    <dd class="radio pr10">양력</dd>
                    <dd class="radio"><input name="생년월일" type="radio" value="생년월일" id="생년월일" class="radio_box01"></dd>
                    <dd class="radio_last">음력</dd>
                </dl>
                <dl>
                    <dt>성별</dt>
                    <dd class="radio pl20"><input name="성별" type="radio" value="성별" id="성별" class="radio_box01"></dd>
                    <dd class="radio pr10">남성</dd>
                    <dd class="radio"><input name="성별" type="radio" value="성별" id="성별" class="radio_box01"></dd>
                    <dd class="radio_last">여성</dd>
                </dl>
                <dl>
                    <dt>이메일</dt>
                    <dd class="form03"><input name="이메일1" type="text" class="text_box03"> @ <input name="이메일2" type="text" class="text_box03"> 
                    <select name="선택메뉴" class="text_box03" style="height:32px;">
                    	<option>직접입력</option>
                        <option>naver.com</option>
                        <option>nate.com</option>
                    </select> </dd>
                    <dd class="radio"><input name="메일수신" type="radio" value="메일수신" id="메일수신" class="radio_box01"></dd>
                    <dd class="radio pr10" style="width:50px;">메일수신</dd>
                    <dd class="radio"><input name="메일수신" type="radio" value="메일수신" id="메일수신" class="radio_box01"></dd>
                    <dd class="radio_last">메일수신안함</dd>
                </dl>
                <dl>
                    <dt style="height:65px;">주소</dt>
                    <dd class="form02"><input name="주소" type="text" class="text_box02"></dd>
                    <dd class="btn"><img src="../images/btn_address.gif" alt="우편번호 찾기" title="우편번호 찾기"></dd>
                    <dd style="padding-left:20px; padding-top:14px; float:left;"><input name="주소" type="text" class="text_box04"> - <input name="주소" type="text" class="text_box04"></dd>
                </dl>
                <dl>
                    <dt>전화번호</dt>
                    <dd class="form01"><input name="전화번호1" type="text" class="text_box03"> - <input name="전화번호2" type="text" class="text_box03"> - <input name="전화번호3" type="text" class="text_box03"> </dd>
                </dl>
                <dl style="border-bottom:#e0e0e0 1px solid;">
                    <dt>휴대폰번호</dt>
                    <dd class="form03"><input name="휴대폰번호1" type="text" class="text_box03"> - <input name="휴대폰번호2" type="text" class="text_box03"> - <input name="휴대폰번호3" type="text" class="text_box03"> </dd>
                    <dd class="radio"><input name="생년월일" type="radio" value="생년월일" id="생년월일" class="radio_box01"></dd>
                    <dd class="radio pr10" style="width:60px;">SMS 수신</dd>
                    <dd class="radio"><input name="생년월일" type="radio" value="생년월일" id="생년월일" class="radio_box01"></dd>
                    <dd class="radio_last">SMS 수신 안함</dd>
                </dl>
            </div>
            <div class="join_box2">
                <p>추가정보(서비스제공)</p>
                <dl>
                    <dt>회원가입경로</dt>
                    <dd><input name="가입경로" type="text" class="text_box04"></dd>          
                </dl>
                <dl>
                    <dt>좋아하는 뮤지션</dt>
                    <dd><input name="뮤지션" type="text" class="text_box04"></dd>          
                </dl>
                <dl style="border-bottom:#e0e0e0 1px solid;">
                    <dt>이용하는 힙합 커뮤니티</dt>
                    <dd><input name="커뮤니티" type="text" class="text_box04"></dd>          
                </dl>
            </div>
            <div class="btn_area">
            	<a href="join_03.html"><p class="member_btn01">회원가입</p></a>
                <a href="login.html"><p class="member_btn02">취소</p></a>
            </div>
        </div>
    	<!-- 회원가입 섹션 끝 -->
    </section>
    <!-- Footer 시작 -->
    <div id="footer">
    	<div class="fm_menu">
        	<ul>
            	<li class="text"><a href="#">이용약관</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">개인정보취급방침</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">사업자정보확인</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">이메일무단수집거부</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">예매내역 조회</a></li>
            </ul>
        </div>
        <div class="copyright">
        	<p>대표 : 최현광<span class="plr15"></span>Tel : 02.6959.4678<span class="plr15"></span>호스팅 서비스 사업자 : ㈜가비아<br>
            사업자등록번호 : 000-00-000000<span class="plr15"></span>계좌번호 : 농협 000-00-000000<Br>
            COPYRIGHT ⓒ 2016 MONEYFLEX. ALL RIGHTS RESERVED.</p>
            <p class="contact">Contact to : <a href="mailto:moneyflex92@gmail.net" class="contact_link">moneyflex92@gmail.net</a></p>
        </div>
    </div>
    <!-- Footer 끝 -->
</div>
</body>
</html>
