<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MONEYFLEX</title>
<link href="../css/defult.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
  <div class="hedaer_box">
  		<!-- 헤더 시작 -->
        <div id="header">
            <h1><a href="../index.html"><img src="../images/logo.jpg" alt="머니플렉스 로고" title="머니플렉스 로고"></a></h1>
            <div class="nav">
            	<div class="util_menu">
                    <ul>
                    	<li><a href="mypage.html">MYPAGE</a></li>
                        <li><a href="login.html">LOGIN</a></li>
                        <li><a href="join_01.html">JOIN</a></li>  
                    </ul>
                </div>
                <div class="gnb">
                    <ul>
                    	<li><a href="../index.html#section_06">CONTACT</a></li>
                        <li><a href="../index.html#section_05">SOCIAL</a></li>
                        <li><a href="../index.html#section_04">SCHEDULE</a></li>
                        <li><a href="../index.html#section_03">NEWS</a></li>
                        <li><a href="../index.html#section_02">HISTORY</a></li>
                        <li><a href="../index.html#section_01">ABOUT</a></li>               
                    </ul>
                </div>
            </div>
        </div>
        <!-- 헤더 끝 -->
    </div>
    <section>
   		<!-- 로그인 섹션 시작 -->
    	<div class="sub_container">
        	<p class="sub_navi">HOME > <span class="navi_color">LOGIN</span></p>
            <p class="sub_hdtitle">로그인</p>
            <div class="login_box">
            	<div class="login_form">
                	<dl>
                        <dt style="padding-bottom:27px;">아이디</dt>
                        <dd style="padding-bottom:27px;"><input name="" type="text" class="text_box01" value="아이디"></dd>
                        <p style="float:right;"><a href="#"><img src="../images/btn_login.gif" alt="머니플렉스 로그인" title="머니플렉스 로그인"></a></p>
                        <dt>비밀번호</dt>
                        <dd><input name="" type="text" class="text_box01" value="비밀번호"></dd>    
                    </dl> 
                </div>
                <div class="search_form">
                	<dl>
                    	<dt>ID / PASSWORD</dt>
                        <dd>아이디나 비밀번호가 기억나지 않으세요?</dd>
                        <p><a href="#"><img src="../images/btn_search.gif" alt="아이디/비밀번호 찾기" title="아이디/비밀번호 찾기"></a></p>
                    </dl>
                    <p class="line"></p>
                    <dl>
                    	<dt>MEMBERSHIP</dt>
                        <dd>머니플렉스 회원이 되시면 다양한 혜택이 있습니다.</dd>
                        <p><a href="join_01.html"><img src="../images/btn_join.gif" alt="회원가입" title="회원가입"></a></p>
                    </dl>
                </div>
            </div>
            <div class="benefit_box">
            	<dt>머니플렉스 회원가입은 무료입니다. 머니플렉스 회원이 되시면 다양한 혜택을 누리실 수 있습니다. </dt>
                <dd>* 회원에 대한 혜택의 내용이 들어가는 첫번째 공간입니다.</dd>
                <dd>* 회원에 대한 혜택의 내용이 들어가는 두번째 공간입니다.</dd>
                <dd>* 회원에 대한 혜택의 내용이 들어가는 세번째 공간입니다.</dd>
            </div>
        </div>
    	<!-- 로그인 섹션 끝 -->
    </section>
    <!-- Footer 시작 -->
    <div id="footer">
    	<div class="fm_menu">
        	<ul>
            	<li class="text"><a href="#">이용약관</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">개인정보취급방침</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">사업자정보확인</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">이메일무단수집거부</a></li>
                <li class="line"></li>
                <li class="text"><a href="#">예매내역 조회</a></li>
            </ul>
        </div>
        <div class="copyright">
        	<p>대표 : 최현광<span class="plr15"></span>Tel : 02.6959.4678<span class="plr15"></span>호스팅 서비스 사업자 : ㈜가비아<br>
            사업자등록번호 : 000-00-000000<span class="plr15"></span>계좌번호 : 농협 000-00-000000<Br>
            COPYRIGHT ⓒ 2016 MONEYFLEX. ALL RIGHTS RESERVED.</p>
            <p class="contact">Contact to : <a href="mailto:moneyflex92@gmail.net" class="contact_link">moneyflex92@gmail.net</a></p>
        </div>
    </div>
    <!-- Footer 끝 -->
</div>
</body>
</html>
